/* reset清楚样式 */

body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
td,
fieldset,
legend {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 62.5%;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset,
iframe {
    border: 0;
}

img {
    display: block;
    border: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

input,
a {
    outline: none;
}